@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  .suit-theme {
    color: #000;
    background: white;
  }
  .suit-theme-checkbox {
    border: 1px solid white;
  }
}

@media (prefers-color-scheme: light) {
  .suit-theme {
    color: #fff;
    background: black;
  }
  .suit-theme-checkbox {
    border: 1px solid black;
  }
}

@media (prefers-color-scheme: dark) {
  .suit-theme-reverse {
    color: white;
    background: #000;
  }
}

@media (prefers-color-scheme: light) {
  .suit-theme-reverse {
    color: #000;
    background: white;
  }
}

ion-loading {
  background: #000000ac;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
}

ion-loading .loading-wrapper {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 18px;
  border-radius: 10px;
  width: 70%;
  font-size: 16px;
  font-weight: 600;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Toastify__toast {
  padding: 6px 10px;
  border-radius: 10px;
  min-height: auto;
  max-height: auto;
  height: auto;
}

@media (prefers-color-scheme: light) {
  .Toastify__toast {
    background: #fff;
    color: #000;
  }
}

@media (prefers-color-scheme: dark) {
  .Toastify__toast {
    background: #000;
    color: #fff;
  }
}

.Toastify__toast-container {
  bottom: 10px;
  left: 10px;
  right: 10px;
  width: calc(100vw - 20px);
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  @apply space-y-2;
}

@media (prefers-color-scheme: light) {
  ion-loading .loading-wrapper {
    background: #fff;
    color: #000;
  }
}

@media (prefers-color-scheme: dark) {
  ion-loading .loading-wrapper {
    background: #000;
    color: #fff;
  }
}

a,
button,
* {
  -webkit-tap-highlight-color: transparent;
}
