@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  .suit-theme {
    color: #121212;
    background: white;
  }
  .suit-theme-checkbox {
    border: 1px solid white;
  }
}

@media (prefers-color-scheme: light) {
  .suit-theme {
    color: #fff;
    background: black;
  }
  .suit-theme-checkbox {
    border: 1px solid black;
  }
}

ion-loading {
  background: #000000ac;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
}

ion-loading .loading-wrapper {
  display: flex;
  align-items: center;
  gap: 14px;
  background: #000;
  padding: 18px;
  border-radius: 10px;
  width: 70%;
  font-size: 16px;
  font-weight: 600;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-color-scheme: light) {
  ion-loading .loading-wrapper {
    background: #fff;
    color: #000;
  }
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}
